@import "./variables.module.scss";

@mixin font-style-text($font-size, $font-weigh, $line-heigh, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weigh;
  line-height: $line-heigh;
  color: $color;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
