@import "./variables.scss";

@mixin font-style-text($font-size, $font-weigh, $line-heigh, $color) {
  font-size: $font-size;
  font-weight: $font-weigh;
  line-height: $line-heigh;
  color: $color;
}

@mixin append($margin-bottom) {
  margin-bottom: $margin-bottom;
}

@mixin prepend($margin-top) {
  margin-top: $margin-top;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin alternateAnimation {
  @keyframes alternate {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    animation: alternate 0.5s;
    outline: none;
  }
}

@mixin scaleUpAnimation {
  @keyframes scaleUp {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }

  &:active {
    animation: scaleUp 0.3s;
  }
}
