$white: #ffffff;

$black: #000d42;
$grey: #9b9b9b;
$grey-graphite: #1f1d2c;

$purple-light-extra: #dde0f86e;
$purple-light: #a09eefcd;
$purple-medium: #5f65f4;
$purple-dark: #2a4af4;

$green-dark: #115b43;
$green-forest: #1b6e53;
$green-medium: #009262;
$green-light: #32c997;

$red-dark: #e01507;
$red-medium: #e02b1d;
$red-light: #ff5a4f;

$bg-grey: rgba(255, 255, 255, 0.5);

$screen-mobile: 360px;
$screen-tablet: 768px;
$screen-desktop: 1170px;
