@import "../../styles/variables";

.Layout {
  &__main {
    max-width: 1170px;
    padding: 0 40px 0;
    margin: 0 auto;
  }
}

@media (max-width: $screen-desktop) {
  .Layout {
    &__main {
      padding: 0 24px 0;
    }
  }
}

@media (max-width: $screen-tablet) {
  .Layout {
    &__main {
      width: 100%;
      padding: 0 24px 0;
    }
  }
}

@media (max-width: $screen-mobile) {
  .Layout {
    &__main {
      width: 100%;
      padding: 0 16px 0;
    }
  }
}
