@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Header {
  &__container {
    padding: 20px 0;
  }
}

@media (max-width: $screen-desktop) {
  .Header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__button {
      padding: 8px 16px;
      border: 1px solid $black;
      @include border-radius(4px);
      @include font-style-text(20px, 400, 24px, $black);
      background-color: transparent;

      transition: background-color all 0.25s ease-in-out;
      @include alternateAnimation;
      @include scaleUpAnimation;

      &:hover,
      &:focus {
        background-color: $purple-light;
        border-color: $purple-light;
        color: $purple-dark;
      }
    }
  }
}
