@import "../../styles/container.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.Footer {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include media(desktop) {
    padding: 50px 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-50vw + 50%);
    width: 100vw;
    height: 100%;
    background-color: $black;

    z-index: -1;
  }
}
